"*":
  core:
    audioBeep: false
    autoHideMenuBar: true
    telemetryConsent: "no"
  editor:
    scrollPastEnd: true
  "exception-reporting":
    userId: "6662d546-9ce1-268e-b5c1-19b28ca46757"
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
